body {
	background-color: black;
	color: white;
	margin: 0;
}
canvas {
	image-rendering: pixelated;
	pointer-events: auto;
}
h2 {
	font-style: italic;
}
div {
	background-color: black;
}
input[type=number] {
	width: 64px;
}
img {
	border: transparent 1px solid;
	outline: white 1px solid;
}
.right-container {
	border: white 1px solid;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	height: 100vh;
	width: 300px;
}
.canvas-container {
	border: white 1px solid;
	position: absolute;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
.left-container {
	border: white 1px solid;
	position: absolute;
	right: 0px;
	top: 0px;
	box-sizing: border-box;
	height: 100vh;
	width: 300px;
}
.setting-container {
	border-top: white 1px solid;
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
}
.layer-control-container {
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
}
.layer-container {
	border: white 1px solid;
	height: 72px;
	width: auto;
	box-sizing: border-box;
	margin: 1px;
}
.layer-highlight {
	background-color: #404040;
}
.sticky-header {
	position: sticky;
	top: 0;
}
.save-box {
	max-width: 256px;
}
.layer-select {
	width: auto;
	height: 100%;
	background-color: transparent;
}
.layer-button-container {
	float: left;
	width: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: none;
}
.layer-icon-button {
	width: 32px;
	height: 32px;
	border: none;
	background: none;
}
.icon-layer-down {
	background-image: url("img/ui/layer-down.png");
}
.icon-layer-up {
	background-image: url("img/ui/layer-up.png");
}
.icon-layer-shown {
	background-image: url("img/ui/eye-shown.png");
}
.icon-layer-hidden {
	background-image: url("img/ui/eye-hidden.png");
}

.layer-eye-container {
	float: right;
	width: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
}
.layer-text-container {
	padding: 2px;
	width: auto;
	height: 100%;
	vertical-align: top;
}